---

# this is the test playbook, use > ansible-playbook ./playbooks/test.yml

- hosts: all
  gather_facts: False

  tasks:
    - name: print general info
      debug: msg="{{ group_names }}, {{ inventory_hostname }}"


